@media screen and (max-width:768px) {
    .nav-input.nav-input-responsive {
        width: 4rem;
        height: 2rem;
    }

    .right-nav.right-nav-responsive {
        width: 8rem;
    }

    .responsive-log-in {
        display: none;
    }

    .newPost-responsive {
        background-color: transparent;
        color: black;
        font-size: 10px;
        border: transparent;
    }

    .user-responsive {
        font-size: 10px;
        margin-right: 5px;
    }
}

.nav-input {
    background-color: white;
    width: 50%;
}

.left-nav {
    width: 31rem;
}

.right-nav {
    width: 31rem;
}

.sign-up {
    border-radius: 20px;
}