.left-reg {
    background-image: url(../../assets/backgroundSite.jpg);
    height: 100vh;
    color: white;
}


.left-reg button {
    border-radius: 20px;
    width: 100px;
}

.sign-in {
    background-color: #28B498;
    width: 50%;
    border-radius: 20px;
    border: 1px solid white;
}

.sign-in:hover {
    background-color: #28B498;
}