.left {
    height: 100vh;
}

.left h2 {
    font-size: 55px;
}



.google-btn {
    border: 1px solid black;
    border-radius: 20px;
}

.google-btn:hover {
    border: 1px solid black;
}

.log {
    width: 50%;
    background-color: #28B498;
    color: white;
}

.log {
    border: 1px solid white;
    border-radius: 20px;
}


.log:hover {
    border: 1px solid white;
}

.right {
    background-image: url(../../assets/backgroundSite.jpg);
    height: 100vh;
    color: white;
}

.right button {
    width: 60%;
    border-radius: 20px;
}

form {
    width: 75%;
}

form .form-control {
    border-radius: 20px;
    background-color: #EDF4F3;
}